
PLQEApp.spec
test.txt
RB120_HPA_PLQE_bckg.txt
RB120_HPA_PLQE_Sample1_Spot1_in.txt
Rhodamine_calibration_in.txt
mainwindow_old.py
__pycache__/model.cpython-36.pyc
__pycache__/mainwindow.cpython-36.pyc
.DS_Store
__pycache__/mainwindow.cpython-37.pyc
__pycache__/model.cpython-37.pyc
__pycache__/PLQEApp.cpython-36.pyc
build/PLQEApp/Analysis-00.toc
build/PLQEApp/base_library.zip
build/PLQEApp/EXE-00.toc
build/PLQEApp/PKG-00.pkg
build/PLQEApp/PKG-00.toc
build/PLQEApp/PLQEApp.exe.manifest
build/PLQEApp/PYZ-00.pyz
build/PLQEApp/PYZ-00.toc
build/PLQEApp/Tree-00.toc
build/PLQEApp/Tree-01.toc
build/PLQEApp/warn-PLQEApp.txt
build/PLQEApp/xref-PLQEApp.html
dist/PLQEApp.exe
dist
build
